<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbhhe.thumbsbackend.mapper.ThumbMapper">
    <!-- 基础结果映射 -->
    <resultMap id="BaseResultMap" type="com.bbhhe.thumbsbackend.model.entity.Thumb">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="blog_id" property="blogId"/>
        <result column="create_time" property="createTime"/>
    </resultMap>
</mapper>